input[type="number"] {
  max-width: 80%;
}

/* BII+E fonts */
@font-face {
    src: url("Jan Fromm - RooneyPro-Bold.otf") format("opentype");
    font-family: 'rooneyprobold';
    font-style: normal;
}

@font-face {
    src: url("Jan Fromm - RooneySans-Medium.otf") format("opentype");
    font-family: 'rooneysansmed';
    font-style: normal;
}

/* Set BII+E fonts as default */
h1, h2, h3, h4 {
  font-family: 'rooneyprobold', Verdana, Georgia;
  padding: 2px;
  color: black;
}

* {
  font-family: 'rooneysansmed', Verdana, Georgia;
}

#controls {
  /* Appearance */
  background-color: rgba(220,221,222);
  padding: 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: .6;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: .9;
  transition-delay: 0;
}

/* unvisited link - disabled in workaround. Links showing up with different colors
a:link {
    color: #14365D !important;
}*/

/* visited link
a:visited {
    color: white;
} */

/* mouse over link */
a:hover {color: grey;}

/* selected link */
a:active {color: white;}

/* Position and style logos and social icons*/
#icons {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align:left;
  align-content: left;
  color: black !important;
}

helpmodal {font-size: 1.5em;} /*2.75vw*/

.legend {
  /* Appearance */
  font-family: 'rooneysansmed', Verdana, Georgia;
  background-color: rgba(220,221,222);
  padding: 20px;
  font-size: 1em;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Media queries: Recompute break points */
@media all and (min-width: 960px) {

  h1, h2, h3, h4 {font-size: 1.2em;} /*2.25em*/
  body, label, input, button, select {
    font-size: 1.2em;
  }
}

@media all and (max-width: 959px) and (min-width: 800px) {

  h1, h2, h3, h4 {font-size: 1.5vw;} /*2.75vw*/
  body, label, input, button, select {
    font-size: 1.5vw;
  }
}

@media all and (max-width: 799px) and (min-width: 50px) {

  h1, h2, h3, h4 {font-size: 13px;} /*18px*/
  body, label, input, button, select {
    font-size: 13px;
  }
}
